:root {
  --background: #fffccc;
  --primary: #2E4172;
  --secondary: #236467;
  --text: #B5BCCC;
  --backgroundDark: #010B23;
  --primaryDark: #2E4172;
  --secondaryDark: #172A59;
  --textDark: #B5BCCC;
}
